@import "./vendor/normalize";
@import "./partials/colors";
@import "./partials/mixins";
@import "./partials/typography";

body {
  font-family: $primary-font;
  color: $primary-font-color;
  background-image: $gradient;
}

.navbar {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  background-color: $nav-background;
  line-height: 3.125em;
}

li a {
  background-color: black;
  color: $primary-font-color;
  font-weight: 500;
  text-decoration: none;
}

li a:hover {
  background-color: $button-color;
}

.navbar .icon {
  display: none;
}

.menu {
  max-width: 6em;
  margin: 0.6em 0 0 0;
  display: none;
}

.centered {
  max-width: 70em;
  margin: auto;
  padding: 0 0.6em 0 0.6em;
}

.main {
  display: flex;
  padding: 1.875em;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 19em;
  height: 13em;
  margin-top: 50px;
}

h1 {
  display: flex;
  justify-content: center;
  font-weight: 400;
  margin-bottom: 2.5em;
}

.hero {
  width: 35em;
  height: 50em;
  border-radius: 0.75em;
}

.invite {
  padding: 0.5em 1em 0 0.25em;
  margin: 5em 0 2em 3em;
  font-size: 2em;
}

.right {
  text-align: right;
}

.btn1 {
  @include primary-button();
  background-color: $button-color;
  color: $secondary-font-color;
  padding: 0.5em 0.8em 0.5em 0.8em;
}

@media only screen and (max-width: 1024px) {
  .hero {
    width: 25em;
    height: 40em;
  }

  .menu {
    display: inline-block;
  }

  .full {
    display: none;
  }
  .navbar {
    background-color: transparent;
  }
}

@media only screen and (max-width: 850px) {
  .main {
    padding: 0;
  }
  .invite {
    padding: 0em 1em 0em 0em;
  }
}

@media only screen and (max-width: 750px) {
  .logo {
    margin-top: 0;
  }
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
  }
  .main {
    flex-direction: column;
  }
  .invite {
    padding: 0;
    margin: 0;
  }
  .hero {
    width: auto;
    height: auto;
  }
  .menu {
    display: inline-block;
  }
  .full {
    display: none;
  }
  .navbar {
    background-color: transparent;
  }
  .invite {
    margin: auto;
  }
}

@media only screen and (max-width: 532px) {
  h1 {
  }
}
