@import "./vendor/normalize";
@import "./partials/colors";
@import "./partials/mixins";
@import "./partials/typography";

body {
  font-family: $primary-font;
  color: $primary-font-color;
  background-image: $gradient;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 14px 16px;
  background-color: black;
  color: $primary-font-color;
  font-weight: 500;
  text-decoration: none;
}

li a:hover {
  background-color: $button-color;
}

h1 {
  font-weight: 400;
}

.main {
  display: flex;
  padding: 30px;
}

.logo {
  width: 19em;
  height: 13em;
  margin-top: 50px;
}

.hero {
  width: 35em;
  height: 45em;
}

.invite {
  padding: 30px;
  margin: 30px;
}
.btn1 {
  @include primary-button();
  background-color: $button-color;
  color: $secondary-font-color;
  padding: 8px 16px;
}

//Medium screens and up - mobile above here
@media (min-width: 768px) {
}

//Big screens - tablet and desktop above here
@media (min-width: 1024px) {
}
